h1 {
    font-size: 80px;

}

/* comment in CSS */
.blue{
    color:blue;
}

.red{
    color:red;
}

#purple{
    color: purple;
}

.alignleft{
    text-align: left;
}

.aligncenter{
    text-align: center;
}

.alignright{
    text-align: right;
}

.white{
    color:white;
}

#blackbackground{
    background-color: black;
}

.body{
    background: khaki;
}